# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


_venv
node_modules

bin
obj
out
*.js
__pycache__
go/sort

CMakeCache.txt
CMakeFiles
*.cmake
c/Makefile
go/example/sort/sort/sort
