# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


_venv
node_modules

bin
obj
out
*.js
__pycache__
go/quicksort

CMakeCache.txt
CMakeFiles
*.cmake
Makefile
go/example/sort/sort/sort
